* {
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 1920px) {
  .header {
    display: flex;
    background-color: #eeeeee;
  }

  .header .left {
    flex: none;
    width: 40%;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    justify-content: start;
    align-items: center;
  }

  .header .main-nav {
    display: flex;
    padding: 10px;
    flex: auto;
    justify-content: flex-end;
    align-items: center;
  }

  .header .main-nav .item {
    padding: 0 20px;
  }

  .header .main-nav .menu {
    display: none;
  }

  .header .main-nav .mobile-menu {
    position: fixed;
    right: -100%;
    top: 0;
  }

  .title {
    background-color: #ddd0c8;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .title:hover {
    cursor: pointer;
  }

  .body,
  .more-boxes {
    width: 1200px;
    margin: 0px auto;
    margin-bottom: 20px;
  }

  .top {
    font-size: 1.2rem;
    text-align: center;
  }

  .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-rows: 250px 250px;
    margin-top: 20px;
  }

  .bottom .box {
    background-color: #b49f93;
    text-align: center;
    padding: 10px;
  }

  .footer {
    width: 1200px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer button {
    font-size: 16px;
    width: 120px;
    height: 40px;
    border: none;
    background-color: #eeeeee;
    padding: 2px;
  }

  .footer button:hover {
    cursor: pointer;
  }

  .more-boxes {
    display: none;
  }
}

@media (max-width: 1200px) {
  .body,
  .footer,
  .more-boxes {
    width: 90%;
    margin: 0px auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .header .main-nav .item {
    display: none;
    padding: 0 20px;
  }

  .header .main-nav .menu {
    height: 30px;
    display: block;
  }

  .header .main-nav .menu:hover {
    cursor: pointer;
  }

  .header .main-nav .mobile-menu {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 40%;
    height: 100vh;
    background-color: #fff9;
  }

  .header .main-nav .mobile-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .header .main-nav .mobile-menu ul li {
    margin: 10px;
    padding: 0;
  }

  .header .main-nav .mobile-menu .close-button {
    margin: 0;
    align-self: flex-end;
  }

  .header .main-nav .mobile-menu .close-button:hover {
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  * {
    font-size: 16px;
  }

  .header .main-nav .menu {
    height: 30px;
    display: block;
  }

  .top {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .bottom {
    flex-wrap: wrap;
    display: inline;
  }

  .bottom .box {
    background-color: #b49f93;
    text-align: center;
    padding: 10px;
    height: 250px;
    margin-bottom: 20px;
  }
}
